@page "/Autores"
@inject IServiciosAutor ServiciosAutor

<!DOCTYPE html>
    <html>
    <head>
        <title>Autores</title>
        <link rel="stylesheet" href="~/css/app.css" />
    </head>
    <body>
        <h1>Autores</h1>
        <button @onclick="GetAutores">Traer Autores</button>
        @if(listaA!=null)
        {
            <BSTable Color="OTableColor">

            </BSTable>

    }
    else
    {
       <p class="alert-danger">Ha ocurrido un error:@MessageGet</p> 
    }

    
    </body>
    </html>

@code {

    public List<Autor>? listaA { get; set; }
    public string? MessageGet { get; set; }
    protected async Task GetAutores()
    {
        try
        {
            string url = "https://localhost:7016/api/Autors";
            var response = await ServiciosAutor.GetAutor<List<Autor>>(url);
            if(!response.Error)
            {
                listaA = response.Response;
                MessageGet = String.Empty;
            }
            else
            {
                listaA = null;
                MessageGet = await response.GetErrorMessageAsync();
            }

        }catch (Exception e)
        {
            listaA = null;
            MessageGet = e.Message;

        }
    }


}
